img {
    max-width: 100%;
}




.navbar {
    
    font-weight: 600;
    background-color: #2C3E50;
    
}

.ms_container {
    background-color: #1ABC9C;
}

.first-section img{
    width: 40%;
}



.ms-col {
    background-color: violet;
    height: 50vh;
    border: 2px solid black;
}

.content {
    width: 50%;
    background-color: yellow;
    height: 1px;
}