img {
    max-width: 100%;
}




.header {
    width: 100%;
    background-color: lightcoral;
    height: 10vh;
}

.left-part {
    width: 50%;
}

.first-section {
    
    background-color: lightgreen;
    height: 50vh;
}

.content {
    width: 80%;
    background-color: aqua;
    border-radius: 50px;
    height: 20vh;
}

.second-section {
    margin: 0 auto;
    background-color: lightgrey;
}




.third-section {
    background-color: lightskyblue;
    height: 50vh;
}

.conthird {
    width: 50%;
}

.fourth-section {
    height: 50vh;
    background-color: violet;


}

.foot-cnt {
    background-color: aqua;
    
}

.logo {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 80%;
    /* margin: 0 auto; */
    background-color: yellow;
    height: 50px;
}